body {
  background-color: #AD6A1D;
  color: #2E0A05;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

.morph-card {
  background-color: #D0DFE4;
  width: 18em;
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0.1em rgba(46, 10, 5, 0.3), 0 0.4em 1em rgba(46, 10, 5, 0.4);
  transition: all 400ms cubic-bezier(0.33, -0.64, 0.31, 1.4);
  will-change: width, padding;
}

.morph-card.active {
  width: 25em;
  padding: 1em 2em 2em;
}

.morph-card.active input {
  font-size: 0.9em;
  padding: 0.2em;
  background: #fff;
  border: 1px solid rgba(46, 10, 5, 0.2);
  pointer-events: all;
}

.morph-card header {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.morph-card header h4 {
  font-weight: 700;
}

.morph-card header .edit {
  text-decoration: none;
  color: #33575B;
}

/*.morph-card .heading {
  color: #AD6A1D;
}
.morph-card .data .name {
  width: 60%;
}
.morph-card .data .quantity,
.morph-card .data .price {
  width: 15%;
}
.morph-card .data .quantity,
.morph-card .data .quantity input {
  text-align: center;
}
.morph-card .data .price,
.morph-card .data .price input {
  text-align: right;
}
.morph-card .cell {
  line-height: 2;
}
.morph-card input {
  width: 100%;
  display: inline-block;
  font-size: 1em;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  transition: all 200ms linear;
  cursor: default;
  pointer-events: none;
}

.table {
  width: 100%;
  display: table;
}
.table .row {
  display: table-row;
}
.table .cell {
  display: table-cell;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
